{block content}
	<div class="rectangle" id="rectangle"></div>
	<button class="change" id="change">Change rectangle</button>
{/block}
{block scripts}
	<script src="{$basePath}/js/rectangle.js"></script>
        <script>
            wia.rectangle.ajaxChangeColorUrl = ''; // adresa signalu / handlu pro zmenu barvy
        </script>
{/block}