{block content}
	<div class="rectangle" id="rectangle"></div>
	<button class="change" id="change" data-naja-history="replace">Change rectangle</button>
{/block}
{block scripts}
	<script src="{$basePath}/js/rectangle.js"></script>
{/block}